.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: var(--wide);


}

.search__label {
    display: flex;
    column-gap: var(--narrow);
    align-items: center;

    width: 100%;
}

.search__label .input {
    flex-grow: 2;
}

.results__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    grid-auto-flow: dense;

    grid-column: 1 / 3;
}