.header__menu {
    display: flex;
    column-gap: var(--narrow);
}

.checklist__item {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: rgba(var(--foreground-rgb), 0.15);
    padding: var(--narrow) 0 0 var(--wide);
}

.item__input {
    width: 75%;
}

.summary__container {
    display: inline-flex;
    align-items: center;
    column-gap: var(--narrow);
    /*calculating width as 100% of parent container - 1.5rem (roughly width of arrow marker on summary)*/
    width: calc(100% - 1.5rem);
}

.item__text {
    flex-grow: 2;
}

.summary__menu {
    padding: 0;

    display: flex;
    margin: var(--narrow);
}

.item__add-button {
    margin-left: 2.25rem;
}