.card {
    border: none;
    border-radius: var(--radius);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    box-shadow: 2px 3px 8px 2px var(--shadow);
  }
  
 