.card__header {
    padding: var(--narrow) var(--wide);
    background-color: rgb(var(--accent-background-rgb));
    color: rgb(var(--accent-foreground-rgb));
    border-radius: var(--radius) var(--radius) 0 0;

    display: flex;
    align-items: center;
    column-gap: var(--wide);
  }

  .header__img {
    background: rgb(var(--accent-foreground-rgb));
    padding: var(--narrow);
    border-radius: var(--radius);
  }

  @media print {
    .card__header {
      display: none;
    }
  }