.card__header {
    padding: var(--narrow);
    background-color: rgb(var(--accent-background-rgb));
    color: rgb(var(--accent-foreground-rgb));
    border-radius: var(--radius) var(--radius) 0 0;
  }