.toast__container {
    padding: 0;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: var(--toast-z);

    border: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--narrow)
}

.toast {
    padding: var(--narrow);
    background-color: var(--neutral-background);
    color: rgb(var(--foreground-rgb));
    text-align: center;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 8px 2px var(--shadow);
}
.toast--happy {
    background-color: var(--happy-background);
}
.toast--sad {
    background-color: var(--sad-background);

}
.toast p {
    margin-left: auto;
}
.toast__button {
    margin-left: auto;
}

@media print {
    .toast__container {
        display: none;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .toast {
        animation: toast-in var(--animation-duration) linear;
    }
  }
  
  @keyframes toast-in {
    0% {
      transform: translateY(50%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
