.app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--narrow);

    box-shadow: 2px 3px 8px 2px var(--shadow);

    padding: var(--narrow) var(--wide);

}