:root {
  --background-rgb: 25, 25, 25;
  --foreground-rgb: 255, 255, 255;
  --accent-background-rgb: 74, 48, 141;
  --accent-foreground-rgb: 255, 255, 255;
  --warning-background: firebrick;
  --happy-background: darkolivegreen;
  --neutral-background: rgb(var(--background-rgb));
  --shadow: rgba(var(--foreground-rgb), 0.15);
  --animation-duration: 0.25s;

  --narrow: 4px;
  --wide: 16px;
  --radius: 4px;

  --toast-z: 3;

  color-scheme: light dark;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: Arial, Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dialog {
  padding: 0;
  border: none;
  box-shadow: 0 0 100vmax 100vmax rgba(var(--foreground-rgb), 0.5);
  border-radius: var(--radius);
}

.dialog .card {
  max-width: 30rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page__header {
  display: grid;
  grid-template-areas: "logo title" "logo toolbar";
  grid-template-columns:  max-content 1fr;
  align-items: center;
  padding: var(--narrow);
  box-shadow: 1px 1px 8px 1px var(--shadow);

}

.page__title {
  margin: var(--narrow) calc(var(--narrow) + var(--wide));
  grid-area: title;
  justify-self: start;
  align-self: center;
}

.logo {
  grid-area: logo;
}

.header__menu {
  grid-area: toolbar;
  display: flex;
  margin: 0;
  padding: 0;
}

menu {
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: var(--wide);
}

.form .label {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  column-gap: var(--wide);
  row-gap: var(--wide);
  padding: var(--wide);

  align-self: center;
  width: calc(100vw - 2rem); /*Edge likes to include big scroll bar*/

  margin-bottom: calc((2 * var(--wide)) + 1.25rem);
  max-width: 1200px;
}

.input {
  padding: var(--narrow);
  border-radius: var(--radius);
  border: 1px solid rgb(var(--foreground-rgb));
  accent-color: rgb(var(--accent-background-rgb));
}

.link {

  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));

  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  column-gap: var(--wide);
}

.link--active {
  color: rgb(var(--accent-foreground-rgb));
  background-color: rgb(var(--accent-background-rgb));
}

.link--active path, .button--submit path, .icon--header path, .button--primary path {
  fill: rgb(var(--accent-foreground-rgb)) !important;
}

.button, .button-replica {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));

  border: 1px solid rgb(var(--foreground-rgb));

  padding: var(--narrow) var(--wide);
  border-radius: var(--radius);

  text-decoration: none;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: var(--narrow);
}
.button--icon {
  border: none;
  background: none;
  padding: var(--narrow);
}

.button--toolbar {
  border-style: solid;
  border-color: rgb(var(--foreground-rgb));
  border-width: 0 1px 0 0;
  border-radius: 0;
  padding: var(--narrow) var(--wide);
}
.button--submit {
  align-self: flex-end;
}
.button--primary,
.button--submit {
  background-color: rgb(var(--accent-background-rgb));
  color: rgb(var(--accent-foreground-rgb));
  border-color: rgb(var(--accent-foreground-rgb));
}
.button:active {
  background-color: rgba(var(--foreground-rgb), 0.15);
  border: inset;
  border-width: 1.5px;
}
.button--icon:active {
  border: none;
}
.button--primary:active {
  background-color: rgba(var(--accent-background-rgb), 0.85);
  border: inset;
  border-width: 1.5px;
}

.button--toolbar:hover {
  background-color: rgba(var(--foreground-rgb), 0.15);
}

.button:disabled {
  filter: grayscale();
}

.button__icon {
  min-height: 26px;
  min-width: 26px;
  height: 26px;
  width: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--dense {
  min-height: 20px;
  min-width: 20px;
}

.small-text {
  font-size: small;
}

@media print, (prefers-color-scheme: light) {
  :root {
    --background-rgb: 255, 255, 255;
    --foreground-rgb: 25, 25, 25;
    --warning-background: rgb(211, 143, 143);
    --happy-background: rgb(169, 215, 88);
  }
}

@media screen and (max-width: 900px) {
  :root {
    --wide: 12px;
  }
  main {
    width: 100vw;
    padding: var(--wide) var(--narrow);
  }
  .big-screen-only {
    display: none;
  }
  .button--toolbar {
    padding: 0 var(--wide);
  }
  .page__title {
    margin: 0 var(--wide);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --wide: 8px;
  }
}

@media print {
  * {
    filter: grayscale();
  }
  .button, footer {
    display: none;
  }
}

